html{
	font-family: arial;
}

#header-wrapper{
	max-width: 900px;
	width: 100%;
	overflow: hidden;
	margin: auto;
	border-bottom: solid black 1px;

}
#header{
	width: 100%;

}

#youtube-logo{
	height: 100px;
}

#broadcast-yourself{
	margin-bottom: 50px;
	font-size: 12px;
	color: #DCDCDC;
	font-weight: bold;
	text-align: center;

}

#header-left{
	float: left;
}

#header-middle{
	float: left;
	background-color: blue;
}

#header-right{
	float: right;
	background-color: red;
}
